body{
  padding:15%;
  font-family: 'Nunito', sans-serif;
}

/* .top-container{
  position: relative;
  font-size: 22px;
}

p{
  position: relative;;
  
} */

img{
  width: 250px;
  height: 250px;
}

/* .project-container{
  position: relative;

}

.resume-container{
  position: relative;

}

.mid-container{
  position: relative;

}

.last-container{
  position: relative;

} */

#projects{
  font-size: 22px;
  font-weight: bold;

}

.about{
  font-size: 22px;
  width: 60rem;
}

#name{
  font-size: 66px;
}